<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DeliItalia</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
          crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body style="background-color:white">
    @using Microsoft.AspNetCore.Http
    @using DelliItalia_Razor.Pages.Public
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">DeliItalia</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <th> <partial name="_LoginPartial" /></th>
                    <th>
                        @{
                            string session = Context.Session.GetString("cart");
                            var count = Context.Items["antal"];
                        }
                        @if (session == null)
                        {
                            <a asp-page="/Public/Cart" hidden><button> <i class="fas fa-cart-plus"></i></button></a>
                        }
                        else
                        {
                            <a asp-page="/Public/Cart"><button> <i class="fas fa-cart-plus"></i></button></a>
                            <p style="margin-left:4px; margin-right:10px"> @ViewData["antal"] </p>
                        }

                    </th>
                    <th style="min-width:100px;"><partial name="_Search" /></th>



                    <ul class="navbar-nav flex-grow-1">
                        @if (this.User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-page="/Index">Hem</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-page="/Public/Products">Produkter</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-page="/Public/AboutUS">Om Oss</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-page="/Public/Contact">Kontakta Oss</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-page="/Privacy">Kontakta Oss</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-page="/WebAdmin/AdminIndex">Admin</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-page="/Index">Hem</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-page="/Public/Products">Produkter</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-page="/Public/AboutUS">Om Oss</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-page="/Public/Contact">Kontakta Oss</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-page="/Privacy">Köpvilkor</a>
                            </li>
                        }
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div style="width 100%">
        <partial name="_CookiePartial" />        
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Footer -->
    <footer class="footer bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item">
                            <a href="/Public/AboutUs">Om oss</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="/Public/Contact">Kontakta oss</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="#">Köpvillkor</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="#">Personuppgifter</a>
                        </li>
                    </ul>
                    <p class="text-muted small mb-4 mb-lg-0">&copy; DeliItalia 2021. All Rights Reserved.</p>
                </div>
                <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item mr-3">
                            <a href="#">
                                <i class="fab fa-facebook fa-2x fa-fw"></i>
                            </a>
                        </li>
                        <li class="list-inline-item mr-3">
                            <a href="#">
                                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-instagram fa-2x fa-fw"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>