
@model DelliItalia_Razor.Model.BaseModel

@*<div>
    <form class="col row mr-auto" asp-page-handler="/Products?handler=GetSearch" method="get">
        <div class="form-inline my-2 my-lg-0 ml-auto">
            <td>
                <input class="form-control mr-sm-2" type="search"
                       aria-label="Search" name="SearchProduct" value="@Model.Filter" />
                <input type="submit" value="Search" class="btn btn-outline-success my-2 my-sm-0" />
            </td>
        </div>
    </form>
</div>*@

<div>
    <form asp-page="/Public/Products" asp-page-handler="search" asp-route-query="">
        <input class="form-control" type="search" name="query" /> 
        <button>Sök</button>

    </form>
</div>
