@page
@model DelliItalia_Razor.Pages.Public.AboutUsModel
@{
}

<body class="test-bg" style="width:100%; height:100%"  >
    
    <div style=" margin-top:220px; font-style:italic; font-size:medium">
        <h1>Om DeliItalia</h1>
        <p>
            <br />
            Vi på Delitalia sedan många år tillbaka erbjudit produkter av högsta kvalitet till dig som älskar bra medelhavsmat.<br />
            Företaget Delitalia grundades 2005 för att hjälpa stockholmare att ha tillgång till högkvalitativa matvaror. <br />
            Våra produkter kommer exklusivt från utvalda producenter i Italien även andra medelhavsländer.<br />
            Vi tillhandahåller utsökta produkter som är i starkt band med territoriet och <br />
            har ständigt koll på att miljöpåverkas så lite som möjligt
        </p>
    </div>

      
</body>