@page
@model DelliItalia_Razor.Pages.Public.AboutUsModel
@{
}

<body  style="width:100%; height:100%"  >
     
    <div style=" margin-top:220px; font-style:italic; font-size:medium">
        <div class="text-center">
            <h1>Om DeliItalia</h1>
            <h6>
                <br />

                Vi på DeliItalia har sedan många år tillbaka erbjudit produkter av högsta kvalitet till dig som älskar god medelhavsmat.<br />
                Företaget DeliItalia grundades 2005 för att hjälpa stockholmare att ha tillgång till högkvalitativa matvaror. <br />
                Våra produkter kommer exklusivt från utvalda producenter i Italien samt även andra medelhavsländer.<br />
                Vi tillhandahåller utsökta produkter som har en stark anknytning med territoriet och <br />
                har ständigt koll på att miljön påverkas så lite som möjligt.

            </h6>
        </div>
    </div>

      
</body>

