@page
@model DelliItalia_Razor.Pages.Public.ContactModel
@{
}
<br />
<br />
<div class="text-center">
    <h1>Kontakta oss:</h1>

    <div>
        <address>
            Birger Jarlsgatan<br />
            111 11 Stockholm<br />
            <abbr title="Tel">Tel:</abbr>
            08-235 3423
        </address>

        <address>
            <strong>Kundtjänst:</strong>   <a href="mailto:Support@deliitalia.com">Support@deliitalia.com</a><br />
            <strong>Marknadsföring:</strong> <a href="mailto:Marketing@deliitalia.com">Marketing@deliitalia.com</a>
        </address>
    </div>
</div>

