@page
@model DelliItalia_Razor.Pages.Public.ContactModel
@{
}
<br />
<br />
<h1>Kontakta oss:</h1>

<div>
    <address>
        Birger Jarls gatan<br />
        111 11 Stockholm<br />
        <abbr title="Tel">Tel:</abbr>
        08-2355 234234
    </address>

    <address>
        <strong>Kundtjänst:</strong>   <a href="mailto:Support@deliitalia.com">Support@deliitalia.com</a><br />
        <strong>Marknadföring:</strong> <a href="mailto:Marketing@deliitalia.com">Marketing@deliitalia.com</a>
    </address>
</div>

