@page
@model DelliItalia_Razor.Pages.Public.ProductsModel

@{
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    ViewData["Title"] = "Products";
    Layout = "_LayoutIndex";
}

<!--Branch Sano Merge-->
<td>
    <input id="btnMestValda" type="button" value="Mest Valda Produkter" hidden />
    <input id="btnNyaste" type="button" value="Nyaste produkter" hidden />
    <input id="btnReaProdukt" type="button" value="Rea Produkter" hidden />
</td>
<br />

<div class="container; col-12">
    <div class="card-group">
        <div class="row col-12">
            <div class="col-lg-2">
                <div class="list-group">
                    <a href="?Category=" class="list-group-item">Alla produkter</a>
                    <a href="?Category=Pasta" class="list-group-item">Pasta</a>
                    <a href="?Category=Chark" class="list-group-item">Salumi (Chark)</a>
                    <a href="?Category=Ost" class="list-group-item">Formaggio (Ost)</a>
                    <a href="?Category=Övrigt" class="list-group-item">Övriga produkter</a>
                    <a href="?Ekologisk=True" class="list-group-item">Ekologiskt</a>
                </div>
            </div>
            <div class="container">
                <div class="row col-12">
                    @foreach (var item in Model.ProductModel)
                    {
                        <partial name="_DisplayProductPartial" model="item" />

                    }
                </div>
            </div>
        </div>
    </div>
</div>
<br /> <br /> <br /> <br /> <br /> <br />

@*<h1>Produkter</h1>
    <br />
    <td>
        <input id="btnMestValda" type="button" value="Mest Valda Produkter" hidden />
        <a href="?Category=Nyaste"><button> Nyaste Produkter </button></a>
        <a href="?Category=Rea"><button> Rabatterade Produkter </button></a>
    </td>

    <td>
        <br /><br />
        <h4>Kategorier:</h4>
        <a href="?Category="><button>Återställ</button></a>
        <a href="?Ekologisk=True"><Button style="color:forestgreen" runat="server" onclick="GetEco"> Ekologisk</Button></a>
        <a href="?Category=Pasta"><button> Pasta </button></a>
        <a href="?Category=Chark"><button> Salumi (Chark) </button></a>
        <a href="?Category=Ost"><button> Formaggio (Ost) </button></a>
        <a href="?Category=Övrigt"><button> Övriga Produkter</button></a> <br />
        <p style="color:red"> @ViewData["IngaProd"] </p>
    </td>
    <br />

    <div class="card-deck">
            @foreach(var item in Model.ProductModel)
            {
                <partial name="_DisplayProductPartial" model="item" />
            }

        </div>*@
