@page
@model DelliItalia_Razor.Pages.Public.ProductsModel

@{
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    ViewData["Title"] = "Products";
    Layout = "_LayoutIndex";

}

<td>
    <input id="btnMestValda" type="button" value="Mest Valda Produkter" hidden />
    <input id="btnNyaste" type="button" value="Nyaste produkter" hidden />
    <input id="btnReaProdukt" type="button" value="Rea Produkter" hidden />
</td>


<br />

<div class="container; col-12">
    <div class="card-group">
        <div class="row col-12">
            <div class="col-lg-2">
                <div class="list-group" >
                    <a href="?Category=Rea" class="list-group-item" style="background-color:lightgray">Rea Produkter</a>
                    <a href="?Category=Nyaste" class="list-group-item" style="background-color:lightgray">Senaste Produkter</a>
                    <a hidden href="?Category=Ost" class="list-group-item" style="background-color:lightgray">Formaggio (Ost)</a>
                    <a hidden href="?Category=Övrigt" class="list-group-item" style="background-color:lightgray">Övriga produkter</a>
                    <a hidden href="?Ekologisk=True" class="list-group-item" style="background-color:lightgray">Ekologiskt</a>
                </div>
           
                <div class="list-group">
                    <a href="?Category=" class="list-group-item">Alla produkter</a>
                    <a href="?Category=Pasta" class="list-group-item">Pasta</a>
                    <a href="?Category=Chark" class="list-group-item">Salumi (Chark)</a>
                    <a href="?Category=Ost" class="list-group-item">Formaggio (Ost)</a>
                    <a href="?Category=Övrigt" class="list-group-item">Övriga produkter</a>
                    <a href="?Ekologisk=True" class="list-group-item">Ekologiskt</a>
                </div>
            </div>
            <div class="container">
                @*<div class="dropdown" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
                    <button class="btn dropdown-toggle" style="border-color: lightgrey; color:cornflowerblue" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Filtrering
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="/Index">Nyaste produkter</a></li>
                        <li><a class="dropdown-item" href="#">Mest sålda</a></li>
                        <li><a class="dropdown-item" href="#">Nedsatta</a></li>
                        <li><a class="dropdown-item" href="#">Utvalda</a></li>
                    </ul>
                </div>*@
                <h6 style="margin-left:5px; color:red">@ViewData["IngaProd"]</h6><br />
                <div class="row col-12">
                    @foreach (var item in Model.ProductModel)
                    {
                        <partial name="_DisplayProductPartial" model="item" />

                    }
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
