@page
@model DelliItalia_Razor.Pages.Public.ProductsModel

@{
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    ViewData["Title"] = "Products";
    Layout = "_LayoutIndex";

}

<td>
    <input id="btnMestValda" type="button" value="Mest Valda Produkter" hidden />
    <input id="btnNyaste" type="button" value="Nyaste produkter" hidden />
    <input id="btnReaProdukt" type="button" value="Rea Produkter" hidden />
</td>


<br />

<div class="container; col-12">
    <div class="card-group">
        <div class="row col-12">
            <div class="col-lg-2">
                <div class="list-group">
                    <a href="?Category=Rea" class="list-group-item" style="background-color:lightgray">Reaprodukter</a>
                    <a href="?Category=Nyaste" class="list-group-item" style="background-color:lightgray">Nya produkter</a>
                    <a href="?Category=Utvalda" class="list-group-item" style="background-color:lightgray">Utvalda produkter</a>
                    <a href="?Category=Popularaste" class="list-group-item" style="background-color:lightgray">Mest sålda produkter</a>
                    <a hidden href="?Category=Ost" class="list-group-item" style="background-color:lightgray">Formaggio (Ost)</a>
                    <a hidden href="?Category=Övrigt" class="list-group-item" style="background-color:lightgray">Övriga produkter</a>
                    <a hidden href="?Ekologisk=True" class="list-group-item" style="background-color:lightgray">Ekologiskt</a>
                </div>
           
                <div class="list-group">
                    <a href="?Category=" class="list-group-item">Alla produkter</a>
                    <a href="?Category=Pasta" class="list-group-item">Pasta</a>
                    <a href="?Category=Chark" class="list-group-item">Salumi (Chark)</a>
                    <a href="?Category=Ost" class="list-group-item">Formaggio (Ost)</a>
                    <a href="?Category=Övrigt" class="list-group-item">Övriga produkter</a>
                    <a href="?Ekologisk=True" class="list-group-item">Ekologiskt</a>
                </div>
            </div>
            <div class="container">
               
                <h6 style="margin-left:5px; color:red">@ViewData["IngaProd"]</h6><br />
                <div class="row col-12">
                    @foreach (var item in Model.ProductModel)
                    {
                        if (item.Quantity > 0)                                       //////////////////////////
                        {                                                            //////////////////////////
                        <partial name="_DisplayProductPartial" model="item" />
                        }                                                            //////////////////////////
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
