@page
@{
    Layout = "_LayoutIndex";
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script>
        window.addEventListener('load', (event) => {
            //sendApiRequest();
            //sendApiRequestCuisine();
            console.log('page is fully loaded');
        });
    </script>
}

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner col-12" style="height:500px">
        <div class="carousel-item active">
            <img class="d-block w-100 min-vh-100" style=" resize:both"
                 src="https://cdn-a.william-reed.com/var/wrbm_gb_food_pharma/storage/images/6/8/5/4/4374586-1-eng-GB/220m-EU-investment-injection-for-Mediterranean-food-projects_wrbm_large.jpg" alt="First slide">
        </div>
    </div>
</div>

<table class="col-12">
    <tr>
        <td>
           
            <div class="input-group col-6 offset-2 ">
                <input type="text" id="foodSearch" class="form-control"
                       placeholder="Samtliga recept ska sökas med engelska namn"
                       aria-label="Recipient's username"
                       aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="search">Sök maträtt</button>
                </div>
            </div>
        </td>
        @*<td>
            <div class="input-group col-6 offset-2 ">
                <input type="text" id="cuisineSearch" class="form-control"
                       placeholder="Sök enligt kök"
                       aria-label="Recipient's username"
                       aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="searchCuisine">Sök kök</button>
                </div>
            </div>
        </td>*@

    </tr>
</table>
<hr />



<div class="d-flex p-2">
    <div class="d-flex align-content-start flex-wrap">
        <div class="d-flex align-content-start flex-wrap" id="content">

        </div>
    </div>
</div>

    <br />
    <br />
    <br />
    <br />


    <script>
        let searchButton = document.querySelector("#search");
            let food = document.getElementById("foodSearch");
            let cuisine = document.getElementById("cuisineSearch");


            searchButton.addEventListener("click", () => {
                if (food.value == "") {                    
                    document.getElementById("foodSearch").setAttribute('value', 'Pasta');
                    alert("Searched " + food.value);
                }
                console.log("Searched " + food.value)

                sendApiRequest(food)
            })
            //searchCuisineBTN.addEventListener("click", () => {
            //    if (cuisine.value == "") {
            //        document.getElementById("cuisineSearch").setAttribute('value', 'Mediterranean');
            //        alert("Searched " + cuisine.value);
            //    }
            //    console.log("Searched " + cuisine.value)

            //    sendApiRequestCuisine(cuisine)
            //})

        async function sendApiRequest(food) {    
            if (food.value == "") {
                document.getElementById("foodSearch").setAttribute('value', 'Pasta');                
            }
            let APP_ID = "42177c41";
            let APP_KEY = "e62f86996e3b86acb4d1d0bddcc9830e";
            let API_ADR = "https://api.edamam.com/search?app_id=";
            let API_FOOD = food.value;



            await fetch(`${API_ADR}${APP_ID}&app_key=${APP_KEY}&q=${API_FOOD}`)
                .then(resp => {
                    if (!resp.ok) {
                        throw Error("ERROR");
                    }
                    return resp.json();
                })
                .then(recept => {
                    console.log(recept.hits);
                    const html = recept.hits.map(r => {
                        return `
<div  class="col-md-3 col-sm-3">
<img class="card-img-top" src="${r.recipe.image}" alt="Card image cap"/>
<div class="card-body">
<h5 class="card-title">${r.recipe.label}</h5>
<p class="card-text"> From:  ${r.recipe.source}</p>
<p class="card-text">Cuisine: ${r.recipe.cuisineType}</p>
<p class="card-text">Meal type: ${r.recipe.mealType}</p>
<p class="card-text">HealthLabels: ${r.recipe.healthLabels}</p>
<p class="card-text">Calories: ${r.recipe.calories}</p>
<a href="${r.recipe.url}" class="btn btn-primary">Till receptet</a>
</div>
</div><br>
`;
                    }).join("");
                    console.log(html);
                    document.querySelector('#content').insertAdjacentHTML('afterbegin', html);
                })
                .catch(error => {
                    console.log(error)
                });
            }
//            async function sendApiRequestCuisine(cuisine) {
//                let APP_ID = "aaf0f0d2";
//                let APP_KEY = "673b002f8e531fab1bcd45df68955b13";
//                let API_ADR = "https://api.edamam.com/search?app_id=";
//                let API_FOOD = "mediterranean";

//                await fetch(`${API_ADR}${APP_ID}&app_key=${APP_KEY}&cuisineType=${API_FOOD}`)
//                    .then(resp => {
//                        if (!resp.ok) {
//                            throw Error("ERROR");
//                        }
//                        return resp.json();
//                    })
//                    .then(recept => {
//                        console.log(recept.hits);
//                        const html = recept.hits.map(r => {

//                            return `
//<div  class="col-md-3 col-sm-3">
//<img class="card-img-top" src="${r.recipe.image}" alt="Card image cap"/>
//<div class="card-body">
//<h5 class="card-title">${r.recipe.label}</h5>
//<p class="card-text"> From:  ${r.recipe.source}</p>
//<p class="card-text">Cuisine: ${r.recipe.cuisineType}</p>
//<p class="card-text">Meal type: ${r.recipe.mealType}</p>
//<p class="card-text">HealthLabels: ${r.recipe.healthLabels}</p>
//<p class="card-text">Calories: ${r.recipe.calories}</p>
//<a href="${r.recipe.url}" class="btn btn-primary">Till receptet</a>
//</div>
//</div><br>
//`;
//                        }).join("");
//                        console.log(html);
//                        document.querySelector('#content').insertAdjacentHTML('afterbegin', html);
//                    })
//                    .catch(error => {
//                        console.log(error)
//                    });
//            }
    </script>
