@page
@model DelliItalia_Razor.Pages.Public.ProductsModel
@{
//ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h3>
        Din order och övrig orderhistorik hittar du under din profil.

        Buon appetito
    </h3>
    <a asp-page="./Products">Till produktsidan</a>
</div>

