@page
@model DelliItalia_Razor.Pages.WebAdmin.AdminIndexModel
@{
}

<h1>Admin</h1>

<table style="font-size:medium">
    <td>
        <a class="nav-link text-dark" asp-area="" asp-page="Index">Admin ProduktLista</a>
    </td>
    <td>
        <a class="nav-link text-dark" asp-area="" asp-page="AdminIndexUsers">AdminUserList</a>
    </td>
</table>