@page
@model DelliItalia_Razor.Pages.WebAdmin.AdminIndexUsersModel

@{
    ViewBag.Title = "Administrera användare";
}
<h1>Administrera Användare </h1>

<table style=" width:100%; margin:20px">
    <tr style="margin:10px">
        <td style="margin:10px">
            <h3>Lägg till Roller</h3>
            <div class="row">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="roller.RoleName"></label>
                        <input asp-for="roller.RoleName" class="form-control" />
                        <span asp-validation-for="roller.RoleName" class="text-danger" />
                    </div>
                    <button style="width:auto" type="submit" class="btn btn-primary">Skapa Roll</button>
                </form>
            </div>
        </td>
        <td style="margin:10px; width:50px"></td>
        <td style="margin:10px">
            <h3>Användare och Roll/Behörighet</h3>
            @if (Model.roleMod.Any())
            {
                foreach (var roll in Model.roleMod)
                {
                    <div>
                        <label>Användarnamn: <b>???</b>&nbsp;Behörighet: <b>@roll.Name</b></label>
            </div>
            }
            }

            </td>
            </tr>
    <tr style="margin:10px; height:20px"></tr>
    <tr style="margin:10px ">
        <td style="margin:10px; width:auto">
                    <h3>Roll-lista</h3>
                    @if (Model.roleMod.Any())
                    {
                        foreach (var roll in Model.roleMod)
                        {
                            <div class="card mb-3" style="width:auto">
                                <div class="card-header">Roll ID: @roll.Id</div>
                                <div class="card-body"><h5 class="card-title">Roll Namn: @roll.Name</h5></div>
                            </div>
                        }

                    }
                    else
                    {
                        <h5 style="color:red">Inga roller att visa<br /></h5>
                    }

                </td>
                <td style="margin:10px; width:50px"></td>
                <td style="margin:10px"></td>
            </tr>
</table>
<br /><br /><br /><br /><br /><br />