@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
    Layout = "_LayoutIndex";
}
<head>
    <link rel="stylesheet" href="~/css/mast.css" />
</head>

<header class="masthead" style="height: 600px">
    <div class="container">
        <div class="row h-100 align-items-center">
           
        </div>
    </div>
    <div class="text-center border-bottom-0" style="padding-top:20px; padding-bottom:20px;">
        <h6 class="display-4 align-bottom" ><i>DeliItalia hjälper dig att<br />smaksätta vardagen med medelhavsprodukter</i></h6>
    </div>
</header>

<section class="pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-6">
                                    <a href="~/Public/Products/?Category=Nyaste" class="list-group-item" style="background-color:lightgray">Senaste Produkter</a>
                                </div>
                                <div class="col-6 text-right">
                                    <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                                        <i class="fa fa-arrow-left"></i>
                                    </a>
                                    <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                                        <i class="fa fa-arrow-right"></i>
                                    </a>
                                </div>

                                @for (int i = 0; i < 3; i++)
                                {
                                    <div class="col-md-4 mb-3">
                                        <div class="card h-100">
                                            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                                            <div class="card-body">
                                                <h4 class="card-title">
                                                    <a href="#">Ny vara</a>
                                                </h4>
                                                <h5>$24.99</h5>
                                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
                                            </div>
                                            <div class="card-footer">
                                                <button type="button" class="btn btn-lg btn-secondary">Köp</button>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-6">
                                    <h3 class="mb-3">Mest sålda </h3>
                                </div>
                                <div class="col-6 text-right">
                                    <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                                        <i class="fa fa-arrow-left"></i>
                                    </a>
                                    <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                                        <i class="fa fa-arrow-right"></i>
                                    </a>
                                </div>
                                @for (int i = 0; i < 3; i++)
                                {
                                    <div class="col-md-4 mb-3">
                                        <div class="card h-100">
                                            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                                            <div class="card-body">
                                                <h4 class="card-title">
                                                    <a href="#">Ny vara</a>
                                                </h4>
                                                <h5>$24.99</h5>
                                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
                                            </div>
                                            <div class="card-footer">
                                                <button type="button" class="btn btn-lg btn-secondary">Köp</button>
                                            </div>
                                        </div>
                                    </div>
                                }


                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-6">
                                    <a href="~/Public/Products/?Category=Rea" class="list-group-item" style="background-color:lightgray">Rea Produkter</a>
                                </div>
                                <div class="col-6 text-right">
                                    <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                                        <i class="fa fa-arrow-left"></i>
                                    </a>
                                    <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                                        <i class="fa fa-arrow-right"></i>
                                    </a>
                                </div>
                                @for (int i = 0; i < 3; i++)
                                {
                                    <div class="col-md-4 mb-3">
                                        <div class="card h-100">
                                            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                                            <div class="card-body">
                                                <h4 class="card-title">
                                                    <a href="#">Ny vara</a>
                                                </h4>
                                                <h5>$24.99</h5>
                                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
                                            </div>
                                            <div class="card-footer">
                                                <button type="button" class="btn btn-lg btn-secondary">Köp</button>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-6">
                                    <h3 class="mb-3">Utvalda </h3>
                                </div>
                                <div class="col-6 text-right">
                                    <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                                        <i class="fa fa-arrow-left"></i>
                                    </a>
                                    <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                                        <i class="fa fa-arrow-right"></i>
                                    </a>
                                </div>
                                @for (int i = 0; i < 3; i++)
                                {
                                    <div class="col-md-4 mb-3">
                                        <div class="card h-100">
                                            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                                            <div class="card-body">
                                                <h4 class="card-title">
                                                    <a href="#">Ny vara</a>
                                                </h4>
                                                <h5>$24.99</h5>
                                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
                                            </div>
                                            <div class="card-footer">
                                                <button type="button" class="btn btn-lg btn-secondary">Köp</button>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<br />