@page
@model DelliItalia_Razor.Pages.PrivacyModel
@{
}
<div class="main-container col1-layout">
    <div class="main">
        <div class="col-main">
            <div class="page-title">
                <h1>Köpvillkor </h1>
            </div>
            <div class="std">
                <p>Känn dig trygg och få en bra kundupplevelse när du handlar hos deliitalia.se.</p>
                <p>Här kan du läsa de försäljnings- och leveransvillkor som gäller vid köp av varor från deliitalia.se:</p>
                <br/>
                
                <h2>Betalning och leverans</h2>
                <p>Vi tar emot betalning med Klarna, Visa och Mastercard. Beloppet dras först när varan skickas.</p>
                <p>Order skickas vanligtvis 1–3 vardagar efter ditt köp. Under perioder med hög belastning kan förseningar upp till 3 dagar uppstå&nbsp;framkomma, så att den totala leveranstiden kan bli 4–6 vardagar.</p>
                <p>Vi skickar alla order så snabbt som möjligt med den fraktmetod som valts i förbindelse med köp. Den valda fraktmetoden framkommer i den orderbekräftelse som du mottagit i direkt samband med ditt köp.</p>
                <p>Varor levereras endast till adresser i Sverige.</p>
                <p>Du blir kontaktad av vår kundservice om en beställd produkt är slut i lager.&nbsp;</p>
                <p>Priserna anges i svenska kronor inklusive moms och alla avgifter. Till priserna tilläggs fraktkostnad. Du väljer frakt-leverantör i slutet av beställningsförloppet.&nbsp;<span>Betalningar hos K</span>affekapslen.se<span>&nbsp;är avgiftsfria, men vi gör dig uppmärksam på att avgifter kan läggas på av bank, kortutgivare eller annan vald betalningslösning.</span><br><span>För ytterligare information hänvisar vi till utgivaren.</span></p>
                <p>Alla vägledande priser är vägledande listpriser, konkurrentpriser eller våra egna normalpriser.&nbsp;&nbsp;</p>
                <p>Endast myndiga personer eller personer med samtycke av förälder eller förmyndare får handla hos oss.</p>
                <p>Vi förbehåller oss rätten att bilder som visas på vår webbplats kan avvika från varans egentliga utseende. Bilderna är endast vägledande. Varans egentliga utseende kan därför avvika från den illustration som visas på webbplatsen.&nbsp;Om du är osäker kan du kontakta kundservice som hjälper dig med eventuella frågor.</p>
                <h2>Ångerrätt</h2>
                <p>Du är berättigad att utöva din ångerrätt inom 14 dagar.</p>
                <p>Ångerrätten utlöper 14 dagar efter den dag du eller en annan person (dock inte transportören) tagit emot varan.</p>
                <p>Om ångerfristen utlöper på en helgdag/röd dag, lördag, julafton eller nyårsdag förlängs ångerfristen till nästa vardag.</p>
                <p>Ångerrätten gäller endast privata användare som handlar hos deliitalia.se.</p>
                <h3>Undantag då ångerrätt inte gäller</h3>
                <p>Du har ingen ångerrätt på livsmedelsprodukter, härunder produkter som innehåller kaffe eller te, med en hållbarhetstid som är kortare än 90 dagar under returneringstidpunkten.</p>
                <p>Du förlorar din ångerrätt om du öppnar emballaget på produkterna.</p>
                <h3>Force Majeure</h3>
                <p>Om det uppstår särskilda förhållanden som förhindrar oss att bibehålla den förväntade leveranstiden, kan vi åkalla force majeure. Exempel på detta kan vara strejk, brand, saknad av varor, beslagtagning, begränsade transportmöjligheter till följd av sjukdom, extraordinära ingrepp från myndigheternas sida, cyberangrepp eller it-sammanbrott hos antingen oss eller våra samarbetspartners eller om det saknas transportmöjligheter.</p>
                <p>En sådan situation ger inte rätt till kompensation eller upphävning av köpavtalet.</p>
                <h3>Så utnyttjar du ångerrätten</h3>
                <p>Du utnyttjar din ångerrätt genom att skriftligen per e-post kontakta oss om att du ångrar ditt köp. Vid ånger ska du skicka e-post via <a asp-page="/Public/Contact">Kontakta Oss</a> och ange ordernummer samt att du ångrar dig.</p>
                <p>Du kan inte ångra dig genom att neka att ta emot varan eller genom att undvika att hämta ut den, utan att meddela oss om att du ångrar dig.</p>
                <p>Ångerrätten gäller inte om du skickar besked om att du ångrar dig då ångerfristen har gått ut.</p>
                <h3>Returnering av varan och returkostnader</h3>
                <p>Om du ångrar köpet av en vara ska varan skickas till oss utan onödigt dröjsmål senast 14 dagar efter att du meddelat oss om att du ångrar dig. Ångerrätten upphör om det går mer än 14 dagar att returnera varorna.</p>
                
                <p><strong>Du ska själv stå för betalningen av returnering av varan, som ska levereras till våran adress</strong></p>
                <p>Om ett paket levereras enligt överenskommelse men inte hämtas eller tas emot av köparen kommer det att returneras till deliitalian. I dessa fall debiteras en avgift på 100 SEK för returfrakt. Avgiften kommer att dras från återbetalning.</p>
                <h3>Återbetalning av pengar vid ånger</h3>
                <p>När du ångrar ett köp krediterar vi dig för alla kostnader vi tagit emot av dig, förutom eventuella leveranskostnader.</p>
                <p>Vi återbetalar beloppet utan onödigt dröjsmål och under alla omständigheter senast 14 dagar från det datum vi mottagit meddelandet om utövandet av ångerrätten. Vi kan hålla tillbaka återbetalningen tills vi har fått den returnerade varan och kontrollerat att returneringen överensstämmer med våra villkor.</p>
                <p>Vi återbetalar beloppet med samma betalningsmetod som du använde vid den ursprungliga transaktionen, om det är möjligt. Om återbetalning med samma betalningsmetod som vid den ursprungliga transaktionen inte är möjlig, kontaktar vi dig för att hitta en annan lösning.</p>
                <h3>Granskning av varor och emballage</h3>
                <p>Ångerrätt betyder inte att du har en ovillkorlig rätt att få hela beloppet för varan återbetald. Om varan hanterats på ett sätt som lett till att den mist sitt värde, kan du inte kräva att få köpbeloppet återbetalt. För att få hela köpbeloppet återbetalt ska varan endast vara använd i samma utsträckning som godkänds innan köp i en vanlig affär. Innan du returnerar en vara ska du därför avgöra om en vanlig affär skulle acceptera produkten i retur enligt vad varan varit utsatt för.</p>
                <p>Om varan hanterats på ett sätt som den inte är avsedd att användas eller som man inte kan använda den i ett företag, leder till att vi inte kan sälja produkten eller sälja den till fullt pris igen. Då kan du räkna med att vi avdrar varans värdeminskning från det belopp vi skulle återbetala dig. Du är således ansvarig för en eventuell försämring av produktens värde om varan har hanterats på ett sätt som inte är nödvändigt för att undersöka varans egenskaper och funktioner. Om varan inte längre har ett handelsvärde återbetalar vi inte inköpsbeloppet.</p>
                <p>Varan ska returneras i sitt originalemballage.</p>
                <p>Det är viktigt att du ser till att paket som returneras paketeras omsorgsfullt. Du har ansvaret för paketet/varorna tills vi tar emot det. Spara därför postkvitto eller eventuellt sändningsnummer.</p>
                <h2>Reklamation – om något är fel med varan</h2>
                <p>Om du köper en produkt och det finns fel i den - t.ex. materiella eller tillverkningsfel - reglerna i köplagen gäller. Finns det några brister i den mottagande sändningen t.ex. för saknade produkter måste du göra invändningar inom 7 dagar efter mottagandet av paketet.</p>
                <p>Du måste klaga på defekter i varor så snart som möjligt efter att felet har identifierats, och senast inom 24 månader efter leverans genom att kontakta oss på info@deliitalia.com eller per telefon.</p>
                <p>Om reklamationen är berättigad och felet inte kan åtgärdas utan att varan returneras, kommer vi att återbetala dina rimliga fraktkostnader.</p>
                <p>Kom ihåg att varan alltid ska paketeras väl innan den skickas, samt att du ska få ett kvitto för sändningen. Spara postkvittot inkl. upplysningar om fraktkostnader samt eventuellt spårningsnummer.</p>
                <h2>Avbeställning</h2>
                <p>För att säkra en snabb leverans behandlar vi alla order inom en kort tid efter att de placerats. deliitalia.se kan därför inte garantera att din beställning kan avbeställas</p>
                <p><span>Om du vill avbryta eller ändra en redan beställd order kan du göra det genom att kontakta vår kundtjänst.</span></p>
                <h2>Personuppgifter och cookies</h2>
                <p>När du handlar hos deliitalia.se ska du åtminstone ange följande uppgifter:</p>
                <ul>
                    <li>Namn</li>
                    <li>Adress</li>
                    <li>E-postadress</li>
                    <li>Telefonnummer</li>
                </ul>
                <p>Vi förbehåller oss rätten att registrera den IP-adress som din beställning är angiven från.</p>
                <p>Vi noterar att vi endast använder dina uppgifter om du uttryckt samtycke för det. Endast med stöd av lag kan vi kontakta dig utan ditt samtycke.</p>
                <p>I förbindelse med köp av varor kan det vara nödvändigt att överlämna uppgifter till en tredje part, till exempel till fraktleverantören. Därför ska du vid beställning av varor från deliitalia.se ge samtycke till att deliitalia.se ger ut uppgifter till en tredje part, som är nödvändiga för att genomföra en order samt leverans. Den fraktleverantör som du väljer behandlar data för detta ändamål.</p>
                <p>Vid betalning med kontokortsbetalning skickas dessa uppgifter krypterat till våra betalningsleverantörer.</p>
                <p>Dina uppgifter raderas efter 5 år eller när vi inte längre har ett behov av att behandla dem för ett eller flera ovan nämnda syften, eller i enlighet med lag. Uppgifterna kan behandlas och sparas längre i en anonym form.</p>
                <p>Om du inte upprättat ett konto, raderar vi emellertid inga personuppgifter om du inte begär en radering av uppgifterna. Det kan du göra genom att kontakta oss via <a asp-page="/Public/Contact">Kontakta Oss</a>.</p>
                <p>deliitalia.se har inte tillgång till dina kortuppgifter. Vi förmedlar endast personuppgifter om det krävs av lag eller om det finns ett domstolsbeslut.</p>
                <p>Vi kan tillfälligtvis registrera ditt användarbeteende på deliitalia.se´ webbplats, för att säkra bästa möjliga upplevelse på webbplatsen. Det är möjligt att deliitalia.se hämtar in anonyma upplysningar så som ålder, kön o.d. av besökare på deliitalia.se.</p>
                <p>Det gör bland annat att vi kan få kunskap om vilka av våra produkter som är mest populära. deliitalia.se ApS är ansvariga för insamling och hantering av data på deliitalia.se.</p>
                <p>Förutom ovanstående överlämnar vi inte dina uppgifter till en tredje part, endast i samband med en omstrukturering eller full/delvis försäljning av företaget. I sådant tillfälle överlämnas personuppgifter endast i överensstämmelse med lag.</p>
                <p>Om du önskar en inblick i hurdan information vi registrerat om dig eller om du har anmärkningar om en registrering i relation till lag, vänligen kontakta oss via <a asp-page="/Public/Contact">Kontakta Oss</a>.</p>
                <p>deliitalia.se använder sig av cookies med syftet att optimera webbplatsen och dess funktionalitet, och därmed göra besöket så användarvänligt som möjligt.</p>
                <p>Du kan ta bort cookies när som helst från din dator beroende på din webbläsare.</p>
                <h2>Upplysningar om klagomålsmöjligheter</h2>
                <p>Ett klagomål om en vara eller tjänst köpt hos oss kan lämnas till EU-kommissionens online klagoportal. Klagomål lämnas via: <a asp-page="/Public/Contact">Kontakta Oss</a>. Vid inlämning av ett klagomål ska du ange vår e-postadress: <a href="mailto:info@deliitalia.se">info@deliitalia.se</a></p>
            </div>
        </div>
    </div>
</div>